#root {
  margin: 0 auto;
  background-color: white;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 99vw;
  min-height: 100vh;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.navigationContainer {
  background-color: #00008B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigationLeft {
  font-size: 28px;
  color: white;
  margin-left: 3vw;
}

.navigationRight {
  font-size: 16px;
  color: white;
  display: flex;
  margin-right: 5vw;
  gap: 50px;
}

.whiteLink {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.underContactSection {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.emailTitleSection, .phoneNumberSection {
  font-size: 20px;
  color: #034566;
}

/*/////////////////about////////////////*/

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.logoContainer {
  min-width: 99vw;
  min-height: 400px;
  background-color: #00008B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.textSection {
  display: flex;
  gap: 40px;
}

.companyNameAndAlt {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.slashes {
  font-size: 50px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
  /*border: 4px solid white;
  padding: 0px 25px;*/
}

.companyName {
  font-size: 80px;
}

.altName {
  font-size: 50px;
  font-weight: 300;
}

.container1Image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 90vw;
  margin-top: 2vh;
}

.aboutContainer, .innerContainer, .textileContainer {
  display: flex;
  align-items: center;
}

.lineBefore {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-left: 5vw;
}

.lineBefore2 {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-left: 10vw;
}

.aboutTitle, .productsAndServicesTitle, .howWeWorkTitle, .contactTitle, .textileTitle {
  margin: 0 1vw;
  font-size: 30px;
  font-weight: 450;
  color: #00008B;
}

.lineAfter {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-right: 5vw;
}

.lineAfter2 {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-right: 10vw;
}

.aboutParagraph, .productsAndServicesParagraph, .howWeWorkParagraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  gap: 25px;
}

.innerParagraphContainer {
  font-size: 20px;
  color: #034566;
  width: 100%; 
  max-width: 65vw;
  word-wrap: break-word;
}

.innerContainer {
  margin-top: 5vh;
}

.contactInfo {
  margin-bottom: 5vh;
}

/*///////////////////products page/////////////////////*/

.pageTitle {
  font-size: 40px;
  font-weight: 450;
  color: #00008B;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 4vh;
}

.contactPageTitle {
  font-size: 40px;
  color: #00008B;
  text-align: center;
  font-weight: 450;
}

.textileImages, .ceramicImages, .printingPressImages, .glassImages, .woodImages {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 10vh;
}

.textileImages > div, .ceramicImages > div, .printingPressImages > div, .glassImages > div, .woodImages > div {
  display: flex;
  gap: 100px;
}

.productImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 20vw;
}

.productImageFlexboxContainer {
  margin-bottom: 5vh;
}

/*//////////////////////////////////contact section//////////////////////////////////*/
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contactForm > div {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 5vh;
}

.messageContainer {
  min-width: 400px;
  min-height: 10vh;
  margin-bottom: 40px;
}

.contactContainer label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactContainerMessage label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submitButton {
  margin: 0.2em;
  color: white;
  background-color: #219EBC;
  border-radius: 1.5em;
  width: 200px;
  height: 60px;
  border: 1px solid #219EBC;
  font-size: 20px;
  opacity: 0.7;
}