#root {
  margin: 0 auto;
  background-color: white;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 99vw;
  min-height: 100vh;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.navigationContainer {
  background-color: #00008B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigationLeft {
  font-size: 30px;
  color: white;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
}

.emailInNavigation {
  font-size: 16px;
}

.navigationRight {
  font-size: 18px;
  color: white;
  display: flex;
  margin-right: 5vw;
  gap: 50px;
}

.whiteLink {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #3333c4;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdownContent a {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #2b2ba2;
  color: rgb(177, 219, 255);
  border-left: 2px solid rgb(177, 219, 255);
}

.dropdown:hover .dropdownContent {
  display: block;
}

.underContactSection, .underContactSection2 {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailTitleSection, .phoneNumberSection {
  font-size: 20px;
  color: #034566;
}

.email, .number {
  font-size: 15px;
}

.underContactSection > div, .underContactSection2 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*/////////////////about////////////////*/

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.logoContainer {
  max-width: 100vw;
  min-height: 400px;
  background-color: #00008B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.textSection {
  display: flex;
  gap: 20px;
}

.companyNameAndAlt {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  border: 4px solid white;
  padding: 0px 20px;
}

.slashes {
  font-size: 120px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
  border: 4px solid white;
  padding: 0px 25px;
}

.companyName {
  font-size: 90px;
}

.altName {
  font-size: 40px;
  font-weight: 300;
}

.container1Image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 90vw;
  margin-top: 2vh;
}

.aboutContainer, .innerContainer, .textileContainer {
  display: flex;
  align-items: center;
}

.lineBefore {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-left: 5vw;
}

.lineBefore2 {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-left: 10vw;
}

.aboutTitle, .productsAndServicesTitle, .howWeWorkTitle, .contactTitle, .textileTitle {
  margin: 0 1vw;
  font-size: 30px;
  font-weight: 450;
  color: #00008B;
}

.lineAfter {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-right: 5vw;
}

.lineAfter2 {
  flex: 1 1;
  height: 0.15vh;
  background: #191970;
  margin-right: 10vw;
}

.aboutParagraph, .productsAndServicesParagraph, .howWeWorkParagraph, .promotionParagraph, .textileParagraph, .anadoludanParagraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  gap: 25px;
}

.innerParagraphContainer, .innerParagraphContainer2, .innerParagraphContainer3 {
  font-size: 20px;
  color: #034566;
  width: 100%; 
  max-width: 65vw;
  word-wrap: break-word;
}

.innerParagraphContainer2 {
  max-width: 60vw;
}

.promotionParagraph, .textileParagraph, .anadoludanParagraph {
  text-align: center;
}

.innerContainer {
  margin-top: 5vh;
}

.contactInfo {
  margin-bottom: 5vh;
}

/*///////////////////products page/////////////////////*/

.pageTitle {
  font-size: 40px;
  font-weight: 450;
  color: #00008B;
  text-align: center;
  margin-top: 8vh;
}

.contactPageTitle {
  font-size: 40px;
  color: #00008B;
  text-align: center;
  font-weight: 450;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.textileImages, .ceramicImages, .printingPressImages, .glassImages, .woodImages, .promotionImages {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 10vh;
}

.textileImages > div, .ceramicImages > div, .printingPressImages > div, .glassImages > div, .woodImages > div, .promotionImages > div {
  display: flex;
  gap: 100px;
}

.productImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 20vw;
}

.productImageFlexboxContainer {
  margin-bottom: 5vh;
}

/*//////////////////////////////////contact section//////////////////////////////////*/
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm > div {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
}

.messageContainer {
  min-width: 600px;
  min-height: 150px;
  margin-bottom: 40px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  border: none;
  resize: none;
  font-size: 16px;
}

.contactContainer label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #034566;
  font-size: 20px;
}

.contactContainerMessage label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #034566;
  font-size: 20px;
}

.submitButton {
  margin: 0.2em;
  color: white;
  background-color: #00008B;
  border-radius: 1.5em;
  width: 200px;
  height: 60px;
  border: 1px solid #00008B;
  font-size: 20px;
}

.altFormContainer2 {
  min-width: 600px;
  min-height: 30px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.altFormContainer {
  min-width: 272px;
  min-height: 30px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

/*//phone screens//*/

@media screen and (max-width: 850px) {
  .page {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
  }

  .navigationContainer {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .navigationLeft {
    font-size: 4vw;
    margin-left: 2vw;
  }

  .emailInNavigation {
    font-size: 2.5vw;
  }

  .navigationRight {
    font-size: 3vw;
    margin-right: 5vw;
    gap: 3vw;
  }

  .dropdownContent {
    min-width: 7vw;
    font-size: 2.6vw;
  }

  .dropdownContent a {
    padding: 1vh 1vw;
  }

  .underContactSection {
    margin-top: 2vh;
    gap: 2vh;
  }

  .underContactSection2 {
    margin-top: 0vh;
    gap: 2vh;
  }

  .emailTitleSection, .phoneNumberSection {
    font-size: 4vw;
  }

  .email, .number {
    font-size: 3.8vw;
  }

  /*////////////////////about/////////////////////*/

  .logoContainer {
    max-width: 100vw;
    min-height: 20vh;
    background-color: #00008B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
  }

  .textSection {
    display: flex;
    gap: 5vw;
  }

  .companyNameAndAlt {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin-bottom: 7vh;
    padding: 0vh 1.8vw;
    padding-bottom: 1vh;
    margin-bottom: 3vh;
  }

  .slashes {
    display: flex;
    align-items: flex-end;
    border: 1px solid white;
    font-size: 8vw;
    margin-bottom: 3vh;
    padding: 0vh 2vw;
  }

  .companyName {
    font-size: 8vw;
  }

  .altName {
    font-size: 5vw;
  }

  .aboutTitle, .productsAndServicesTitle, .howWeWorkTitle, .contactTitle, .textileTitle {
    font-size: 5.5vw;
  }

  .lineBefore {
    flex: 1 1;
    height: 0.15vh;
    background: #191970;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .lineAfter {
    flex: 1 1;
    height: 0.15vh;
    background: #191970;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  .aboutParagraph, .productsAndServicesParagraph, .howWeWorkParagraph, .promotionParagraph, .textileParagraph, .anadoludanParagraph {
    gap: 3.5vh;
    margin-top: 3vh;
  }

  .innerParagraphContainer, .innerParagraphContainer2 {
    font-size: 4vw;
    max-width: 85vw;
  }

  .innerParagraphContainer2 {
    max-width: 80vw;
  }

  .email {

  }

  .number {

  }

  /*///////////////////////products page//////////////////////////*/
  .pageTitle, .contactPageTitle {
    font-size: 7vw;
    margin-top: 3vh;
  }

  .textileImages, .ceramicImages, .printingPressImages, .glassImages, .woodImages, .promotionImages {
    margin-top: 6vh;
    margin-bottom: 0vh;
  }

  .textileImages > div, .ceramicImages > div, .printingPressImages > div, .glassImages > div, .woodImages > div, .promotionImages > div {
    display: flex;
    flex-direction: column;
    gap: 6vh;
  }

  .productImage {
    max-width: 85vw;
  }

  .innerParagraphContainer3 {
    max-width: 90vw;
    font-size: 4vw;
  }

  /*/////////////////contact section//////////////////*/
  .contactForm {
    justify-content: center;
    margin-bottom: 3vh;
  }

  .contactForm > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }

  .contactContainer label, .contactContainerMessage label {
    gap: 0.5vh;
    font-size: 4vw;
  }

  .messageContainer {
    min-width: 80vw;
    min-height: 20vh;
    font-size: 4vw;
    margin-bottom: 4vh;
  }

  .altFormContainer2 {
    min-width: 80vw;
    min-height: 4vh;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    border: none;
    font-size: 4vw;
  }
  
  .altFormContainer {
    min-width: 80vw;
    min-height: 4vh;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    border: none;
    font-size: 4vw;
  }

  .submitButton {
    margin: 0.2em;
    color: white;
    background-color: #00008B;
    border-radius: 30px;
    width: 50vw;
    height: 8vh;
    border: 1px solid #00008B;
    font-size: 5vw;
  }
}