#root {
  max-width: 1820px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  height: 200vh;
  overflow: auto;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.navigationContainer {
  background-color: #00008B;
  display: flex;
  width: 1820px;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navigationLeft {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-left: 3em;
}

.navigationRight {
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  margin-right: 5em;
  gap: 4em;
}

.link {
  
}

.headerAndImageContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4em;
}

.headerAndImageLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
}

.titleHeader {
  font-size: 2em;
}

.subHeader {
  font-size: 1em;
}

.headerAndImageRight {
  display: flex;
  align-items: center;
}

.container1Image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 25em;
}

#callToActionButton {
  background-color: #00008B;
  color: white;
  font-size: 1em;
  opacity: 0.8;
}